.Inscricao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--cor-detalhes-azul);
}

.titulo {
  font-size: 26px;
  color: var(--cor-texto);
}

.texto {
  font-size: 20px;
  line-height: 1.5em;
  text-align: justify;
  color: var(--cor-texto__claro);
}

.download {
  height: auto;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 7px;
  border: 2px solid var(--cor-detalhes-azul);
  cursor: pointer;
  text-decoration: none;
  color: var(--cor-texto);
}

.btnDownload {
  width: 35px;
  height: auto;
  color: inherit;
}

.encerrado {
  color: var(--cor-texto__encerrado);
  text-decoration: line-through;
}

.email {
  text-decoration: none;
  color: var(--cor-detalhes-azul);
}

.email--link:hover {
  color: var(--cor-azul__claro);
}

@media screen and (max-width: 1200px) {
  .titulo {
    margin: 2% 2%;
  }
  .texto {
    margin: 0 2%;
  }
}

@media screen and (max-width: 950px) {
  .titulo {
    margin: 2% 4%;
  }
  .texto {
    margin: 0 4%;
    text-align: left;
  }
}
