:root {
  --cor-background:#1b0947;
  --cor-azul__claro: #8683bc;
  --cor-azul__medio: #514682;
  --cor-detalhes-azul: #babbe9;
  --cor-texto: #d6d6e2;
  --cor-texto__claro: #d3d3e1;
  --cor-texto__encerrado: #c86172;
  --cor-background__faq: #362865;
  --cor-text-selection: #ffffff;
  --cor-backgound-selection: #0000ff ;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--cor-background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-azul__claro);
  border-radius: 20px;
  border: 3px solid var(--cor-background);
}
body {
  flex: 1 1 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
h1::selection,
h2::selection,
h3::selection,
p::selection,
li::selection,
a::selection,
pre::selection,
span::selection {
  color: var(--cor-text-selection);
  background-color: var(--cor-backgound-selection);
}
