:root{
  --cor-background:#022D53;
  --cor-azul__claro: #049DD9;
  --cor-azul__medio: #034C8C;
  --cor-detalhes-azul: #babbe9;
  --cor-texto: #B3DCFF;
  --cor-texto__claro: #E3E8FB;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: var(--cor-background);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-azul__claro);    
  border-radius: 20px;      
  border: 3px solid var(--cor-background);  
}
body{
  flex: 1 1 0;

  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
h1::selection, h2::selection, h3::selection, p::selection,
 li::selection, a::selection, pre::selection, span::selection {
  color: white;
  background-color: blue;
}
