.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-background);
  padding: 20px;
  box-sizing: border-box;
}

.card-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--cor-background-2);
  padding: 40px 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 5px 5px 20px rgba(54, 40, 101, 0.5);
  text-align: center;
  width: 60%;
  max-width: 600px;
  margin-top: 20vh;
}

.error-found {
  font-size: 10vw;
  color: var(--cor-azul__claro);
  margin: 0px;
}

.text-not-found {
  color: var(--cor-azul__claro);
  font-size: 4vw;
  margin: 20px 0px;
}

.return-home {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-background-2);
  background-color: var(--cor-azul__claro);
  border: 2px solid var(--cor-azul__claro);
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-size: 3.5vw;
  margin-top: 10%;
}

.return-home:hover,
.return-home:focus {
  color: var(--cor-background-2);
  background-color: var(--cor-azul__medio);
  border-color: var(--cor-azul__medio);
}

@media screen and (min-width: 1024px) {
  .card-not-found {
    margin-top: 10vh;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .card-not-found {
    width: 80%;
  }

  .error-found {
    font-size: 5rem;
  }

  .text-not-found {
    font-size: 1.25rem;
  }

  .return-home {
    font-size: 1rem;
  }
}
